@model operation_OLX.Models.PostListModel
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
   <form asp-action="FilterPosts">


        <div class="cantainer">
              <div class="form-group  col-md-6" style="float:left;">
                
                   <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control input-sm" />
              
              </div>
              <div class="form-group  col-md-6" style="float:left;">
                
                  <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control input-sm" />
                
              </div>
              <div class="form-group  col-md-6" style="float:left;">
                
                  <label asp-for="Category" class="control-label"></label>
         
                <select asp-for="Category" class ="form-control" asp-items=ViewBag.Categories></select>
                
              </div>
              <div class="form-group  col-md-6" style="float:left;">
                
                   <input type="submit" value="Search"  class="btn btn-primary" />
              
              </div>
            </div>
            
            </form>
  </div>
</nav>
<diV>
  @foreach( var K in ViewBag.cats)
        {
             
             
                 <input type="checkbox" @K.CatName  style="float:right"/>
        }      
 </diV>
       
 



@*<div class="table" >*@
@foreach(var Product in Model.Posts)
{
<div>
   
    <head>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
 
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.card {
    display:-webkit-inline-box
    justify-content: centre
    column-count:3
   
}.table{
    display:flex
    justify-content: centre

}
.container-fluid {
    	background-color: #F5FFFA;
    }
    input.larger{
        width: 50px;
        height: 50px;
    }
   
}
</style>
</head>
<body>
<div class="card">
   <img src="~/images/@Product.ImagePath1"
                         class="img-fluid"   
                            
                         asp-append-version="true" />
  <h1>@Product.Title</h1>
  <p class="price">@Product.Price</p>
  <p>@Product.Description</p>
  <input id="@Product.Id" class = "larger" type="checkbox" value=@Product.Id  onchange="myFun(@Product.Id)"/>
  <p><button> @Html.ActionLink("ViewPostDetails", "ViewPostDetails", new { id=Product.Id})</button></p>
</div>
<script>
    function Add(detail)
    {
        var id = $("#id")
        $.ajax(
            {
                type:"POST",
                url:"/User/AddFavorite",
                data :{"Id":detail}
            }
        )
    }
    function myFun(detail)
    {
       if(document.getElementById(detail).checked==true){
         
           console.log(detail)
           alert('item added to favorites');
            $.ajax(
               {
                   type:"POST",
                   url:"/User/AddFavorite",
                   data:{"Id":detail},
               }
           )
       }
       else
       {
          console.log(detail)
         alert('item removed from favorites');
         $.ajax(
               {
                   type:"POST",
                   url:"/User/RemoveFavorite",
                   data:{"Id":detail}    
               }
           )
       }
    }
    function myfun2()
    {
        
        $.ajax({
            type:"POST",
                url:"/User/AddFavorite",
                data :{"Category":2}
        })
    }
</script>
</body>

</div>
}

@*</div>*@
@if(Model.Posts.Count==0)
{
       <h2>OOPS! No Products Found</h2>             
}
